.card-product {
  overflow: hidden;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px ;
}

.card-product img {
  height: 270px;
  width: 290px;
  object-fit: cover;
  border-radius: 10px;
}

.card-product h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.card-product h4 {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.card-product p {
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 10px;
}
