body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.display-app {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
}
