<div class="d-flex flex-wrap justify-content-around">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= booking.appliance.name %></h2>
      <h4><%= booking.appliance.category %></h4>
      <p><strong><%= booking.appliance.price %>€</strong></p>

      </div> %
    </div>
</div>
