
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container">

    <a class="navbar-brand" href="/">bld</a>


    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


    <div id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bonhomme
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Sign-up</a></li>
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><a class="dropdown-item" href="#">Disconnect</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

          <%# <a class="dropdown-item" href="#">Fondue pot</a>
          <a class="dropdown-item" href="#">Raclette machine</a>
          <a class="dropdown-item" href="#">Plancha</a>
          <a class="dropdown-item" href="#">Stone Grill</a>
          <a class="dropdown-item" href="#">Crepe Machine</a>
          <a class="dropdown-item" href="#">Barbeque</a>
          <a class="dropdown-item" href="#">Fryer</a> %>
